.input-area {
  display: flex;
  align-items: center;
  border: 1px solid lightgreen;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 560px;
}

.input-area:hover {
  border: 1px solid lightseagreen;
}

.input-area > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.input-area > input:focus {
  outline: 0;
}
