.app-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
}

.app-header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  display: inline-block;
}

.app-header a:hover {
  color: darkcyan;
  text-decoration: underline;
}

.app-header-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header-right > .MuiSvgIcon-root {
  margin-right: 20px;
}
