.search-page {
  display: flex;
  flex-direction: column;
}

.search-page-top-section {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: 200px;
  object-fit: contain;
}

.search-box-section {
  align-items: flex-start;
}